@model ItemCreateDto

<tr>
    @Html.HiddenFor(a=>a.CategoryId)
    @Html.HiddenFor(a=>a.CompanyId)
    @Html.HiddenFor(a=>a.Id)
    <td>
        @Html.TextBoxFor(a=>a.Name, new { @class="form-control required"})
        @Html.ValidationMessageFor(a=>a.Name,"", new {@class = "text-danger"})
    </td>
    <td>
        @Html.TextBoxFor(a=>a.Price, new { @class="form-control required"})
        @Html.ValidationMessageFor(a=>a.Price,"", new {@class = "text-danger"})
    </td>
    <td>
        @Html.TextAreaFor(a=>a.Description, new { @class="form-control", @rows=5})
        @Html.ValidationMessageFor(a=>a.Description,"", new {@class = "text-danger"})
    </td>
    <td>
        <button class="btn btn-danger remove-row"><i class="fa fa-remove"></i></button>
    </td>
</tr>